body {
	background: #000;
}

#container {
	font-family: 'VT323', monospace;
	float: left;
	margin: 100px 100px;
	overflow: hidden;
}

#map {
	background-color: #948d4e;
	float: left;
	margin: auto;
	position: relative;
}
