body {
	background: #000;
}

#container {
	font-family: 'VT323', monospace;
	float: left;
	margin: 100px 100px;
	overflow: hidden;
}

#map {
	background-color: #948d4e;
	float: left;
	margin: auto;
	position: relative;
}

#timer,
#game-times {
	background: #000;
	color: #890006;
	font-size: 1.5em;
	opacity: .6;
	position: absolute;
	top: 0;
}

#timer {
	left: 0;
	padding: 4px 6px;
}

#game-times {
	overflow: hidden;
	padding: 20px;
	right: 0;
	text-align: center;
	text-transform: uppercase;
}

.timer {
	margin-top: .5em;
}
