body {
	background: #000;
}

#container {
	font-family: 'VT323', monospace;
	float: left;
	margin: 100px 100px;
	overflow: hidden;
}

#map {
	background-color: #948d4e;
	float: left;
	margin: auto;
	position: relative;
}

#timer {
	background: #000;
	color: #890006;
	font-size: 1.5em;
	left: 0;
	opacity: .6;
	padding: 4px 6px;
	position: absolute;
	top: 0;
}
